
header{
font-size: small;
text-align: center;
background-color: pink;
color: black;
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 999px;
font-family: sans-serif;
font-weight: bolder;
border-right: 10px;
}

#tudo{
    font-family: sans-serif;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    width: 30em
}


img{
    border-radius: 50%;
    margin-left: 200px;
    margin-right: auto;
    height: 70px;
    width: 70px;
};

#foto{
    text-align: center;
};

h1{

    font-size: large;
    color: black;
    font-weight: bold;
}

p{
    color: rgb(131, 131, 131);
    font-size: small;
}

a{
    color: rgb(131, 131, 131);
    font-size: small;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: palevioletred;
    background-color: rgb(216, 216, 216);
}

#nome:hover{
    color: pink;
};